// Mobile-first
    .Dossier {
        display: flex;
        justify-content: center;
        background-color: palegoldenrod;

    }

// Tablette
@media screen and (min-width: 768px) {
    .Dossier {
        background-color: lightsalmon;
        .blocSignets {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
        }
    }
}

// Medium Screen
@media screen and (min-width: 900px) {
    .Dossier {
        background-color: paleturquoise;

        .blocSignets {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center;
        }
    }
}

// Large Screen
@media screen and (min-width: 1250px) {
    .Dossier {
        background-color: rgb(243, 182, 238);
        
        .blocSignets {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            justify-content: center;
        }
    }
}